*.o
.deps/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/src/Makefile
/src/Makefile.in
/src/homed/**/*.c
/src/homed/Makefile
/src/homed/Makefile.in
/src/homed/config.h
/src/homed/config.h.in
/src/homed/config.h.in~
/src/homed/homed
/src/homed/homed_vala.stamp
stamp-h1
